<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
<suite name="My Project">
<listeners>
    <listener class-name="com.qtpselenium.framework.datadriven.CustomListener" />
</listeners>
  <suite-files>
    <!--suite-file path="./PortFolio.xml" /-->
   <suite-file path="./StockSuite.xml" />
   <!-- suite-file path="./Suite_C.xml" / -->
   
  </suite-files>
</suite>